.my-container{
    height: 22rem;
    align-items: center;
    display: grid;
    text-align: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 35% 15% 25%;
    grid-template-areas: "img title"
                         "img detail"
                         "img price"
                         "img countt";
}

.my-img{
    grid-area: img;
    margin: 4rem;
    height: 100%;
    width: 70%;
}

.title-prod{
    grid-area: title;
    align-items: center;
}

.detail-prod{
    grid-area: detail;
}

.price-prod{
    grid-area: price;
}

.count-prod{
    grid-area: countt;
}

@media only screen and (max-width: 1000px){

    .my-img{
        margin: 0;
        width: 100%;
    }
}