.my-container{
    height: 22rem;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 20% 20% 30%;
    grid-template-areas: "img title"
                         "img detail"
                         "img price"
                         "img count";
}

.my-img{
    grid-area: img;
    height: 100%;
    width: 70%;
}

.title-prod{
    grid-area: title;
    align-items: center;
}

.detail-prod{
    grid-area: detail;
}

.price-prod{
    grid-area: price;
}

.count-prod{
    grid-area: count;
}