.header{
    padding: 20px 40px;
    width: 100%;
    background-color: $color-principal;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        font-size: 40px;
        font-weight: 400;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    &-navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;

        &-item{
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            cursor: pointer;
        }
        
    }

}

.imagen{
    border-radius:50%; 
}

.bar-desc{
    height: 4rem;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: lighten($color: $color-principal, $amount: 30);
    margin: 0;
    text-align: center;
    padding: 1.2rem;
}

@media only screen and (max-width: 900px){
    .bar-desc{
        height: 2.8rem;
        font-size: 0.8rem;
        padding: 1rem;
    }
}
