.header{
    padding: 20px 40px;
    width: 100%;
    background-color: $color-principal;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        font-size: 40px;
        font-weight: 400;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    &-navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;

        &-item{
            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            cursor: pointer;
        }
        
    }
    
    
}

