.main-princ{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "titulo imagen"
                         "texto imagen";
}
.main-title{
    grid-area: titulo;
    font-size: 30px;
    font-style: italic;
}

.main-text{
    grid-area: texto;
    text-align: justify;
    padding-right: 2rem;
}

.main-image{
    grid-area: imagen;
    width: 90%;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .main-princ{
        grid-template-columns: 100%;
        grid-template-rows: 15% 45% 40%;
        grid-template-areas: "titulo"
                            "imagen"
                            "texto";
    }

    .main-image{
        width: 70%;
        height: 90%;
    }
}